<div>
    <script id="tmpl-product-list-item" type="text/x-jquery-tmpl">
        <tr>
            <td><span style="font-family: sans-serif; color: blue; cursor: pointer;">${ProductName}</span></td>
            <td><span style="cursor: pointer; color: red; font-family: sans-serif;">${ProductPrice}</span></td>
            <td style="align-content: center">
                <img class="update" data-id="${Id}" src="img/file_edit.png" width="20" style="align-content: center; cursor: pointer;" /></td>
        </tr>
    </script>
</div>

