<div>
 
        <div class="container">
             <div class="page-header">
                <h1>Configuration</h1>
             </div>
            <div id="left" class="col-lg-4">
                <div id="listType"></div>
            </div>
            <div id="right" class="col-lg-6 ui-widget-content ui-state-default" >
               
                 <div id="sortable" style="min-height:150px" class="ui-sortable">
                 <div class="ui-widget-content placeholder">Add your items here</div>
                 </div>
            </div>
            <br />
           <div class="col-lg-12" style="margin-top:1%"> 
               <button id="btnFieldSave" class="btn  btn-primary col-lg-offset-5">Save</button>
               <a href="#ListView" class="btn  btn-primary"> Back</a>

           </div>
        </div>

  
</div>