<div>
<script id="ItemHeader" type ="text/x-jquery-tmpl">
    
     <th>${Type}</th>
                         
</script>
<script id="Edit" type ="text/x-jquery-tmpl">
    
     <th>Edit</th>
                         
</script>
<script id="ItemList" type ="text/x-jquery-tmpl">
    <td>${Value}</td>
   
</script>
    <script id="ItemEdit" type ="text/x-jquery-tmpl">
  
     <td style="align-content: center">
              <a href="#ItemEdit/${Id}">   <img class="update" data-id="${Id}" src="img/file_edit.png" width="20" style="align-content: center; cursor: pointer;" /></a>
                  </td>
        <td style="align-content: center">
              <a href="#ItemDelete">   <img class="delete" data-id="${Id}" src="img/Delete_Icon.png" width="20" style="align-content: center; cursor: pointer;" /></a>
                  </td>
</script>
    </div>